@import "../../variables.scss";

.InputWrapper {
  width: 25%;
  height: 100%;
}

.Input {
  padding: 0;
  border: none;
  border-radius: $default-radius;
  height: 100%;
  width: calc(100% - 10px);
  padding-left: 10px;
  background-color: $light-grey;
  border: solid 1px $border-color;

  &[type="radio"] {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

  &__label {
    width: 60%;
  }
}
