$light-blue: #03a9f4;
$blue: #e4ecef;
$dark-blue: #673ab7;
$white: #ffffff;
$light-grey: #f9fafb;
$border-color: rgba(0,0,0,.0625);
$black: #000000;

$default-radius: 3px;

$mobile-width: 768px;

$main-font: Helvetica;

$z-index-1: 1;
$z-index-2: 10;
$z-index-3: 20;
$z-index-4: 30;

$default-box-shadow: -1px 2px 5px -1px rgba(0,0,0,0.51);

$default-transition: all 0.2s ease;
