@import "../../variables.scss";

.Task {
  width: 100%;
  padding-bottom: 15px;
  height: auto;

  &__description {
    width: 100%;
    text-align: left;
  }

  &__details {
    flex-direction: column;
    width: 100%;
    height: 50px;

    @media (min-width: $mobile-width) {
      flex-direction: row;
    }
  }

  &__time {
    width: 100%;

    @media (min-width: $mobile-width) {
      width: 25%;
    }
  }

  &__user {
    text-align: center;
    font-weight: bold;

    @media (min-width: $mobile-width) {
      text-align: left;
    }
  }
  
  &__actions {
    width: 45%;
  }

  &__action {
    height: 30px;
    width: 40%;
  }
}